@import "../../cover";

$themeName: 'default';

$sideNavBGColor: #1F292D;
$sideNavTextColor: #fff;
$sideNavHoverBGColor: #C6E1FF;
$headerBGColor: #8DC8FF;
$headerTextColor: #fff;
$headerTextHoverColor: #fff;
$logoTextColor: #8DC8FF;
$bookmarkBGColor: #C6E1FF;
$borderColor: #8DC8FF;
$mainBgColor: #ffffff;
$bookmarkTextColor: #1F292D;
$bookmarkTextActiveColor: #317398;
$bookmarkArrowBGColor: #f5f8fb;
$bookmarkArrowColor: #dcdce6;
$bookmarkActiveBgColor: $mainBgColor;
$contentContainerBGColor: $headerBGColor;
$elButtonBGC: $bookmarkBGColor;

@mixin structureAdjustOfEachTheme {

}

@import "../selectors";


