@import "../common.scss";
body[theme=#{$themeName}] {
  @include cover;

  @include structureAdjustOfEachTheme;

  div, span {
    //transition: background-color .1s, color 1s;
  }

  .el-main{
    background-color: $mainBgColor;
    border: 1px solid $borderColor;
    >div{
      background-color: #fff;
      border-radius: 4px;
      padding: 20px;
    }
  }

  .content-container {
    background-color: $contentContainerBGColor;
  }

  .aside {
    * {
      user-select: none;
    }

    background-color: $sideNavBGColor;

    .side-nav-menu {
      background-color: $sideNavBGColor !important;
    }

    .el-submenu .el-menu {
      background-color: $sideNavBGColor !important;
    }

    .el-submenu__title *, .el-menu-item * {
      color: $sideNavTextColor;
    }

    .el-menu-item:focus, .el-menu-item:hover, .el-submenu__title:hover, .el-submenu .el-menu-item:hover {
      background-color: $sideNavHoverBGColor !important;
      border-right: 5px solid $deepBlue;
    }

    .el-menu-item:focus, .el-menu-item:hover, .el-submenu__title:focus, .el-submenu__title:hover {
      background-color: $sideNavHoverBGColor !important;
      border-right: 5px solid $deepBlue;

    }

    .el-menu-item:focus,
    .el-menu-item:hover,
    .el-submenu__title:focus,
    .el-submenu__title:hover .el-icon-arrow-down:before {
      color: $deepBlue !important;

    }

    .el-menu-item:focus:hover span,
    .el-menu-item:hover:hover span,
    .el-submenu__title:hover span,
    .el-submenu .el-menu-item:hover span {
      color: $deepBlue;
    }

    .el-menu-item:focus span,
    .el-menu-item:hover span,
    .el-submenu__title:focus span,
    .el-submenu__title:hover span {
      color: $deepBlue;
    }

    .el-menu-item:focus:hover .side-nav-ico:before,
    .el-menu-item:hover:hover .side-nav-ico:before,
    .el-submenu__title:hover .side-nav-ico:before,
    .el-submenu .el-menu-item:hover .side-nav-ico:before {
      color: $deepBlue;
    }

    .el-menu-item:focus .side-nav-ico:before,
    .el-menu-item:hover .side-nav-ico:before,
    .el-submenu__title:focus .side-nav-ico:before,
    .el-submenu__title:hover .side-nav-ico:before {
      color: $deepBlue;
    }

    .el-menu-item.is-active {
      background-color: $sideNavBGColor !important;
    }

    .el-menu-item.is-active {
      color: $sideNavTextColor !important;
    }

    .side-nav-menu i {
      color: $sideNavTextColor !important;
    }

    .logo-text {
      color: $logoTextColor;
    }
  }

   .main-header {
    * {
      user-select: none;
    }

    background-color: $headerBGColor;

    .header-top {
      color: #fff;

      .el-button {
        color: $headerTextHoverColor;
        background-color: transparent;
        border-color: $headerTextHoverColor;

      }

    }

    .header-bookmark {
      .bookmarks {
        //color: $bookmarkTextColor;
        //border: 1px solid $borderColor;
        //border-bottom: 1px solid $borderColor;
      }

      .bookmarks:after {
        background-color: $headerBGColor;
        border-left: solid 1px $borderColor;
        border-bottom: solid 1px $borderColor;
      }

      .bookmarks li:last-child:after {
        background-color: $bookmarkActiveBgColor;
      }

      .bookmarks-last-not-active li:last-child:after {
        background-color: $bookmarkBGColor/0.95
      }

      .bookmark {
        background-color: $bookmarkBGColor/0.95;
        border-right: 1px solid $borderColor;
        color: $bookmarkTextActiveColor;
      }

      .bookmark:hover {
        color: $bookmarkTextActiveColor;
        transition: font-size 0.3s, width 0.3s;
      }

      .bookmark:not(.bookmark-active):hover {
        color: $bookmarkTextActiveColor;
        transition: font-size 0.3s, width 0.3s;
        background-color: rgba($bookmarkActiveBgColor, 0.8);
      }

      .bookmark-active {
        background-color: $bookmarkActiveBgColor;
        color: $bookmarkTextActiveColor;
      }

      .iconguanbi1 {
        color: $bookmarkTextActiveColor;
      }

      .arrow {
        background-color: $headerBGColor;
      }

      .left-arrow {
        border-right: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }

      .right-arrow {
        border-left: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }

      .arrow span {
        color: $bookmarkArrowColor;
      }

      .close-all {
        color: $bookmarkBGColor;
        border-bottom: none;
      }

      .close-all:hover {
        color: $bookmarkBGColor*1.2;


      }

    }
  }

}

